<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
 
  <div id="content">
    <h1>Hey there, I'm Erantzeri</h1>
    <p>This is the re-building of my Rails 1 App, now on Rails 4</p>
    <p>I'm starting with a Blog/ToDo app, then adding Contacts CMS, and integration with Gmail</p>
    <p>You can find me on Twitter <a href="http://twitter.com/erantzeri">@erantzeri</a> or on Linkedin <a href="https://www.linkedin.com/in/erantzeri2007">Linkedin.com/erantzeri</a>.</p>
  </div>
</div>